<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EMPOYER SEARCH</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <main>
      <usuarios>
        <h1>Usuarios de empresa</h1>
      </usuarios>
    </main>
<!-- Templates -->
    <template id="usuarios-template">
      <div>
        <section class="cabecera">
          <slot></slot>
          <input type="search" placeholder="Filtrar Usuario"  v-model="busqueda">
        </section>
        <hr>
        <section class="usuarios">
          <usuario :datos="user" v-for="user in filtrarUsuarios"></usuario>
        </section>
      </div>
    </template>
    <template id="usuario-template">
      <div class="usuario">
        <img align="left" :src="datos.foto" :alt="datos.nombre">
        <section>
          <h2> {{ datos.nombre }}</h2>
          <small> {{ datos.email }} </small>
        </section>
      </div>
    </template>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main24.js" charset="utf-8"></script>
  </body>
</html>
