main {
  display: flex;
  flex-wrap: wrap;
}
pre {
  width: 100%;
}

.carrito {
  background-color: rgba(255, 0, 81, 0.5);
  padding: 10px;
  text-align: right;
  width: 40%;
}
.lista {
  background-color: rgba(130, 0, 41, 0.63);
  padding: 20px;
  width: 50%;
}
