<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1 id="cursodevuejs">CURSO DE VUE JS:</h1>

    <p><a href="https://wmedia.teachable.com/courses/140226/lectures/2073296">curso</a></p>

    <h2 id="instalacinydatabinding">Instalación y Databinding:</h2>

    <h4 id="conceptosclave">Conceptos clave:</h4>

    <p><strong>MODELO</strong>: </p>

    <ul>
    <li><p>Fuente de datos</p></li>

    <li><p>Se refleja en diferentes partes de la página web</p></li>

    <li><p>Puede actualizarse</p></li>
    </ul>

    <p><strong>REACTIVIDAD</strong>:</p>

    <ul>
    <li>Capacidad de los elementos de la web que representan datos, para actualizarse cuando estos datos cambian</li>
    </ul>

    <p><strong>DATABINDING</strong>:</p>

    <ul>
    <li>Relación de asociación entre el modelo y los elementos q lo muestran.</li>
    </ul>

    <p><strong>DIRECTIVA</strong>:
      - Atributo de HTML que no forma parte de la especificación oficial, pero que añade 'superpoderes' a
      los elementos HTML. Son atributos "personalizados" que traen la ptencia de Vue al HTML.</p>

    <h4 id="formasdeinstalacindevue">Formas de instalación de VUE:</h4>

    <p>Hay varias formas para realizar la instalación:</p>

    <ol>
    <li><p>NPM y sus módulos</p></li>

    <li><p>CLI</p></li>

    <li><p>CDN</p>

    <p>Para el primer uso de prueba y ver las bases de VUE se usará CDN.</p>

    <p>Pasos:</p></li>

    <li><p>Ir a la <a href="https://vuejs.org/v2/guide/installation.html">página oficial de VUE</a>.</p></li>

    <li><p>En el apartado de CDN copiar esta línea de código:</p></li>
    </ol>

    <pre><code class="html language-html">    &lt;script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"&gt;&lt;/script&gt;
    </code></pre>

    <p>Teniendo la plantilla de HTML:</p>

    <pre><code class="html language-html">      &lt;!DOCTYPE html&gt;
          &lt;html lang="en" dir="ltr"&gt;
            &lt;head&gt;
              &lt;meta charset="utf-8"&gt;
              &lt;title&gt;VUE 1&lt;/title&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;main&gt;
                &lt;h1 &gt; Hola mundo!&lt;/h1&gt;
                &lt;input type="text" name="" value=""&gt;
              &lt;/main&gt;
              &lt;script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"&gt;&lt;/script&gt;
              &lt;script src="main.js" charset="utf-8"&gt;&lt;/script&gt;
            &lt;/body&gt;
          &lt;/html&gt;
    </code></pre>

    <ol>
    <li><p>Pegar esta línea de código encima del cierre del body, en primer lugar antes del resto de scripts.</p>

    <pre><code>Una vez hecho esto al visualizar la página en el navegador, se puede abrir la consola y comprobar que efectivamente           se ha importado la librería.
    </code></pre>

    <ol>
    <li>Creamos la instancia de VUE: Creamos un objeto del prototipo de VUE con
      </li></ol></li>
    </ol>

    <pre><code class="javascript language-javascript">   //Vue.js
       new Vue ({
       });
    </code></pre>

    <p>  5. Hemos creado un hijo de Vue, y por ahora va a tener dos propiedades 'el' el elemento que se determinará
       como el 'main' del HTML:
       </p>

    <pre><code class="javascript language-javascript">    // Databinding con VUE:
    new Vue({
      // el es el elemnto HTML que queremos bindear. Se accede a lo que esté
      //dentro del elemento 'main'
      el: 'main',
      // Definimos la segunda propiedad: data, que tendrá la fuente de datos a través
      //de modelos, y en este caso tan solo se establece como modelo, 'mensaje' con sus datos:
      data: {
        mensaje: 'Cucú mundo! desde el mensaje de la instancia de Vue' //modelo llamado 'mensaje'
      }
    })
    </code></pre>

    <p> 6. Luego hay que poner la <strong>directiva</strong> de Vue en el HTML para saber dónde se renderizará el mensaje
      que hemos pasado en 'data'. </p>

    <pre><code class="html language-html">  &lt;!DOCTYPE html&gt;
      &lt;html lang="en" dir="ltr"&gt;
        &lt;head&gt;
          &lt;meta charset="utf-8"&gt;
          &lt;title&gt;VUE 1&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;
          &lt;main&gt;
            &lt;h1 &gt; Hola mundo!&lt;/h1&gt;
            &lt;input v-model="mensaje" type="text" name="" value=""&gt;
          &lt;/main&gt;
          &lt;script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"&gt;&lt;/script&gt;
          &lt;script src="main.js" charset="utf-8"&gt;&lt;/script&gt;
        &lt;/body&gt;
       &lt;/html&gt;
    </code></pre>

    <p>  7. Podemos ver que está pasando en el modelo, a traves de una <strong>variable de conveniencia</strong> que nos provee
       Vue, puesto que si se cambia el valor en el input, se cambia también en el modelo. El template es con
       {{$data}}, que nos permite ver que pasa en el modelo en tiempo real:
       </p>

    <pre><code class="html language-html">    &lt;!DOCTYPE html&gt;
        &lt;html lang="en" dir="ltr"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;title&gt;VUE 1&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;main&gt;
              &lt;h1 &gt; Hola mundo!&lt;/h1&gt;
              &lt;input v-model="mensaje" type="text" name="" value=""&gt;
              &lt;pre&gt;{{ $data }}&lt;/pre&gt; &lt;!-- Esta es la 'Variable de Conveniencia' --&gt;
            &lt;/main&gt;
            &lt;script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"&gt;&lt;/script&gt;
            &lt;script src="main.js" charset="utf-8"&gt;&lt;/script&gt;
          &lt;/body&gt;
        &lt;/html&gt;
    </code></pre>

    <p> {{ $data }} es pues una variable de conveniencia que nos crea y asocia Vue para ver q está
      pasando dentro del modelo. Con la etiqueta \<pre\> lo que hacemos es mantener el formato de lo
      que nos llega, en este caso un formato JSON. Esta es la forma de tener two-way databinding
        8. Para que lo que se meta en el input cambie lo que hay en el h1, hay que interpolar o introducirlo en
        el h1. Para eso, le decimos a Vue que vamos a interpolar, con doble llave de apertura y cierra
        {{ }}, y dentro de ellas se pone el nombre del modelo, en este caso mensaje.</p>

    <pre><code class="html language-html">    &lt;!DOCTYPE html&gt;
        &lt;html lang="en" dir="ltr"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;title&gt;VUE 1&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;main&gt;
              &lt;h1 &gt; {{ modelo }} &lt;/h1&gt; &lt;!-- Esta es la interpolación del modelo 'mensaje' --&gt;
              &lt;input v-model="mensaje" type="text" name="" value=""&gt;
              &lt;pre&gt;{{ $data }}&lt;/pre&gt;
            &lt;/main&gt;
            &lt;script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"&gt;&lt;/script&gt;
            &lt;script src="main.js" charset="utf-8"&gt;&lt;/script&gt;
          &lt;/body&gt;
        &lt;/html&gt;
    </code></pre>

    <h3 id="definicindeinstancia">Definición de instancia:</h3>

    <p><a href="https://definicion.de/instancia/">link</a></p>

    <p>Las partes de la estructura psíquica capaces de actuar y la copia de una versión ejecutable de un programa informático (software) que se ha escrito en la memoria de una computadora u ordenador reciben asimismo el nombre de instancia.</p>

    <p>Más específicamente, dentro del ámbito de la programación orientada a objetos, es posible diseñar un tipo de entidad, asignándole distintas propiedades y funciones, tal y como si se creara un molde para una camisa y se decidiera si tiene bolsillos y, de ser así, cuántos, de qué material debe fabricarse, cuáles serán sus proporciones y en qué situación será apropiado usarla (una reunión informal, una fiesta de gala, etcétera). Si bien es un ejemplo alejado de la informática, al tomar ese molde y confeccionar una camisa a partir de él estaríamos instanciando esa clase de prenda de vestir.</p>

    <p>En el mundo real, la camisa ya ha sido creada y tiene un nombre conocido por todos los hispanohablantes; pero en la programación, el desarrollador goza de total libertad a la hora de denominar una creación suya, y los únicos límites serán los impuestos por su creatividad y por la tecnología de la cual disponga. Los videojuegos actuales se desarrollan adoptando el modelo de clases, dado que permite una organización extremadamente compleja, manteniendo un orden y el control sobre cada elemento, que pueden llegar a ser decenas, cientos o miles.</p>

    <p>Básicamente, es posible que en un juego de disparos ambientado en el espacio exterior existan distintos tipos de naves enemigas, que en este caso agruparemos por colores para simplificar el ejemplo. Los desarrolladores establecerán, entonces, que existen x cantidad de clases de enemigos, cada uno con sus características y habilidades (tamaño, energía máxima, poder de ataque, nivel de defensa, velocidad, aceleración, tipos de ataque, etcétera), y podrán crear tantos individuos de cada tipo como deseen, siempre dentro del marco de la lógica establecida para el universo del juego.</p>

    <p>Por lo tanto, en una determinada sección de un nivel podrían aparecer cinco naves rojas que vuelan hacia el personaje principal y disparan sin piedad; cada una de ellas tendrá las mismas propiedades que el resto, pero es necesario entender que no serán clones, sino más bien hermanas gemelas idénticas.</p>


  </body>
</html>
