<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VUE 1</title>
  </head>
  <body>
    <main>
      <h1> {{ mensajeAlreves }}</h1>
      <h2> {{mensaje}} </h2>
      <h3> Lista de tareas: </h3>
      <ul>
        <li v-for="tarea in tareas"> {{tarea.titulo}} </li>
      </ul>
      <h3> Lista de tareas con prioridad </h3>
      <ul>
        <li v-for="tarea in tareasConPrioridad"> {{tarea.titulo}} </li>
      </ul>
      <h3> Tareas por antiguedad </h3>
      <li v-for="tarea in tareasPorAntiguedad"> {{tarea.titulo}} </li>

      <form v-on:submit.prevent="agregarTarea">
        <input v-model="nuevaTarea" type="text" placeholder="Introduce una tarea"> </input>
        <input type="submit" value="Enviar tarea">
      </form>
  
      <pre> {{$data}}</pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"></script>
    <script src="main6.js" charset="utf-8"></script>
  </body>
</html>
