<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VUE 1</title>
  </head>
  <body>
    <main>
      <h1> Lista de juegos </h1>
      <input type="search" v-model="busqueda" placeholder="Buscar Juego">
      <ul>
        <li v-for="juego in buscarJuego"> {{juego.titulo | alReves}} </li>
      </ul>
      <input type="range" min="0" max="10" v-model="minimo"> <!-- Hace variar la propiedad minimo del modelo -->
      <hr>
      <pre> {{$data}}</pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"></script>
    <script src="main7.js" charset="utf-8"></script>
  </body>
</html>
