<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VUE 1</title>

  </head>
  <body>
    <main>
      <elegir-ganador :listado="personas"></elegir-ganador>
      <pre> {{$data}}</pre>

    </main>
    <template id="elegir-ganador-template">
      <div>
        <h1 v-if="ganador"> El ganador es: {{ ganador }}</h1>

        <template v-else>
          <h1> Participantes: </h1>
          <ul>
            <li v-for="persona in listado" v-text="persona">
            </li>
          </ul>
        </template>
        <button @click="elegirGanador"> Elegir Ganador </button>
      </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"></script>
    <script src="main14.js" charset="utf-8"></script>
  </body>
</html>
